@import "mixins"
@import "variables"

.email-chip
  display: flex
  align-items: center
  background: rgba(102, 153, 255, 0.2)
  border-radius: 100px
  padding: 5px 10px

  &--invalid
    border-radius: 0
    background: transparent
    border-bottom: 1px dashed #D92929
    padding: 5px

  &__adrress
    cursor: default

  &__close-button
    background:
      image: url('/assets/images/close.svg')
      repeat-y: no-repeat
      position: center
      size: contain

    cursor: pointer
    padding: 5px
    margin-left: $default-margin
    width: $default-margin
    height: $default-margin
    outline: 0
