@import "variables"

*
  -webkit-font-smoothing: antialiased
  font-family: 'Open Sans', sans-serif

html, body
  position: relative
  width: 100%
  height: 100%

body
  background: $white
  box-sizing: border-box
  color: $text
  display: flex
  align-items: center
  justify-content: center
  margin: 0
  padding: 0
